html
{ height: 100%;
  
  
  }

#principal {
   width : 100%;
    height: 100%;
}
#principal:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/sinac_logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position :  0 100px;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

body
{ font: normal 85% Arial, Helvetica, sans-serif;
  background: #FFF;

		/*background-color:#4F81BD;*/

  color: #000;
}




#titulo_seccion {
text-align:center;
 font-weight: bold;
 font-size: medium ;
 padding-bottom:8px;
 
}

#subtitulo_seccion {
text-align:center;
 font-weight: bold;
 font-size: medium ;
 padding-bottom:8px;
 
}
#confirmacion {
text-align:center;
font-weight: bold;
font-size: medium ;
background-color:#CCFF99; 
Font: 17px Arial;
/*border:1px solid #008000;*/
color:#008000;
height: 10%;

 
}

#notice {
text-align:center;
font-weight: bold;
font-size: medium ;
background-color:#CCDEFF; 
Font: 17px Arial;
/*border:1px solid #004A6F;*/
color:#004A6F;
height: 10%;

 
}

#ctl00_ContentPlaceHolder1_confirma_hoja {
text-align:center;
font-weight: bold;
font-size: medium ;
background-color:#CCDEFF; 
Font: 12px Arial;
/*border:1px solid #FFB7B7;*/
color:#004A6F;
height: 10%;

 
}




#ctl00_ContentPlaceHolder1_confirma_certificado {
text-align:center;
font-weight: bold;
font-size: medium ;
background-color:#CCDEFF; 
Font: 12px Arial;
/*border:1px solid #FFB7B7;*/
color:#004A6F;
height: 10%;

 
}



#error {
text-align:center;
font-weight: bold;
font-size: medium ;
background-color:#FFDDDD; 
Font: 17px Arial;
/*border:1px solid #FFB7B7;*/
color:#B30000;
height: 10%;

 
}



#ctl00_ContentPlaceHolder1_titulo_seccion{
text-align:center;
 font-weight: bold;
 font-size: medium ;
 padding-bottom:8px;
 
}
p
{ padding: 0 0 10px 0;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% Arial, Helvetica, sans-serif;
  color: #1162CB;
  text-shadow: 0px 1px 0px #CCC;
  letter-spacing: -1px;
  margin: 0 0 10px 0;}

#encabezado
{ font: normal 200% Arial, Helvetica, sans-serif;
  text-align:center;
  height: 65px;
  background-image:url('../img/menubar_defaulta.png');
	background-repeat:repeat-x;
	padding:5px;
   }

h3
{ font: normal 130% Arial, Helvetica, sans-serif;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
  font: normal 150% Arial, Helvetica, sans-serif;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% Arial, Helvetica, sans-serif;
  color: #888;
  padding-bottom: 15px;}

a
{ color: #000;
  font-weight: bold;
  background: transparent;
  outline: none;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ /*margin: 2px 0 22px 30px; se comento para solucionar inconveniente en agregar destinatario, verificar si no hay impacto en otras secciones*/
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}



ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#titulospan
{
	font: normal 175% Arial, Helvetica, sans-serif;
  color: #1162CB;
  text-shadow: 0px 1px 0px #CCC;
	margin-left: auto;
	margin-right: auto;
	height:100%;
	
	
	}
	#ptit
	{margin:0;
	
	 font-size: 75%;
		}

#main, #header, #banner, #menubar, #site_content, #footer, #content_blue
{ margin-left: auto; 
  margin-right: auto;}

#main
{ background: transparent;}

#menubar
{ width: 100%;
  height: 50px;
  margin-top: 0px;  
  border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -webkit-border: 15px 15px 0px 0px;} 
  
#welcome
{ width: 320px;
  float: left;
  text-align: center;
  height: 45px;
  margin: 0 auto;
  padding-left: 20px;
  padding-top: 5px;
  background: transparent;}  
   
#welcome h1 a
{ font: normal 150% Arial, Helvetica, sans-serif;
  letter-spacing: -3px;
  color: #1162CB;
  text-decoration: none;}
  
#menu_items
{ float: left;
  width: 100%;


  }
  
ul#menu
{ margin:0;
  margin: 0 0 0 0px;
    height: 60%;
   border-top-style: solid;
   border-bottom-style: solid;
   border-width: 2px; 
   border-color: #39667B;
   background-color: #028DD2;
  }

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ 
  font: bold 120% Arial, Helvetica, sans-serif;
  text-align: center;
  color: #E6E6E6;
  text-decoration: none;
  height: 24px;
  text-shadow: 0px 1px 0px #0A0909;
  padding: 16px 20px 10px 20px;
  background: transparent; } 
  
ul#menu li.current a, ul#menu li:hover a
{ color: #FFFFFF;}


 


