﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="acceso.aspx.vb" Inherits="acceso" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
       <title>Sistema Sinac</title>
        <style type="text/css">


   #error {
           text-align:center;
font-weight: bold;
font-size: medium ;
background-color:#FFDDDD; 
Font: 22px Arial;
border:1px solid #FFB7B7;
color:#B30000;
height: 10%;
            }
</style>
</head>
<body>
    <form id="form1" runat="server">
   
    <div id="error">
     <asp:Label ID="Label2" runat="server">Usted esta accediendo al sistema de forma incorrecta.</asp:Label>
     </div> 
    
    </form>
</body>

    
</html>
