﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="logout2.aspx.vb" Inherits="logout2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Sistema Sinac</title>
    <style type="text/css">


   #pagina {
           text-align:center;
font-weight: bold;
font-size: medium ;
background-color:#FFDDDD; 
Font: 22px Arial;
border:1px solid #FFB7B7;
color:#B30000;
height: 10%;
            }
</style>
</head>

 

<body>
    <form id="form1" runat="server">
    <div id="pagina">
Ha salido correctamente del sistema

    </div>
    </form>
</body>
</html>
