﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="logout.aspx.vb" Inherits="logout" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <script type="text/javascript" >
object.onload=function(){window.close();}</script>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>

</asp:Content>