﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="seleccion_logs.aspx.vb" Inherits="Estandares_vb" title="Sistema Sinac" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div id="titulo_seccion">
 Seleccione el Módulo:
 </div>
<form id="form1" runat="server">
 <div align="center">


        <asp:DropDownList ID="DropDownList1" runat="server" AutoPostBack="True" class=":required :only on blur">
            <asp:ListItem Value="">Seleccione...</asp:ListItem>
            <asp:ListItem Value="1">Informe de Logs de Errores Obvios</asp:ListItem>
            <asp:ListItem Value="2">Informe de Logs de OOT</asp:ListItem>
          
        </asp:DropDownList>
         </div>
                
         <br>
         <div  align="center">
         </div>
        
         <div  align="center">
         </div> 
         <br>
              <div id="notice" align="center">
        <asp:Label ID="Label1" runat="server"></asp:Label>
        </div>    
             <div id="error" align="center">
        <asp:Label ID="Label2" runat="server"></asp:Label>
        </div>  
        </form>
</asp:Content>

