@charset "UTF-8";
/* CSS Document */
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}
input {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	border: solid 1px #CCC;
	padding: 4px 4px;
	margin-right: 6px;
	margin-top: 4px;
}

.validation-passed { border-color: blue; }
.validation-failed { border-color: red; }
.validation-advice { color: #C00; font-size: 10px; } 