body {
	background-color: #FFFFFF;
	font-family: "Trebuchet MS", Tahoma, Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #6F6F6F;
	text-decoration: none;
	padding: 0px;
	margin: 20px;
}
input {
	font-family: "Trebuchet MS", Tahoma, Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #6F6F6F;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #D4D0C8;
	border-right-color: #A8A8A8;
	border-bottom-color: #A8A8A8;
	border-left-color: #D4D0C8;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
}
.boton {
	font-family: "Trebuchet MS", Tahoma, Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #A8A8A8;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #D4D0C8;
	border-right-color: #A8A8A8;
	border-bottom-color: #A8A8A8;
	border-left-color: #D4D0C8;
	text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
	cursor: pointer;
}
.borde {
	background-color: #F2F2F2;
	border: 1px dashed #D4D0C8;
	font-size: 12px;
	text-decoration: none;
	margin: 0px;
	text-align: left;
	padding: 5px;
}
.tdform {
	font-size: 12px;
	font-weight: bold;
}
.subtitle {
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #0094DE;
	padding: 5px;
}
.tdformdet {
	font-size: 12px;
	font-weight: normal;
}