﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="gestiona_parametros.aspx.vb" Inherits="Parametros_gestiona_parametros" title="Página sin título" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


   <div id="contenedor1">
    <div id="contenedordest">
     <div id="titulo_seccion">
Ingrese la lista o correo de su sector que recibirá las notificaciones del sistema
 </div>
    <form id="Form1" runat ="server"> 
    <ul>
    <li class="xli">
    <div class="xtest">
  
 
    <span class="boton">
     <label for="tipo">Direccion</label>
        <input id="nombre1" runat="server" name="nombre1" value="" class=":min_length;2  :only_on_blur" maxlength="50"/>
     
    </span>
 
    
 
    
  </div>
  </li>
  </ul>
  
    <ul>
   
    <li class="panel_boton">
     <div>
      <span class="boton">
                &nbsp;<asp:Button ID="Button1" runat="server" Text="Grabar" />
         
         </span></div>
    </li>
        
     </ul>
    
     
     </form>
        
  </div>
  </div>    
  <br >
  
<div  id="confirmacion">
     <asp:Label ID="Label1" runat="server"></asp:Label>
     </div>
     <div  id="error">
     <asp:Label ID="Label2" runat="server"></asp:Label>
     </div>

 
</asp:Content>

